[Unit]
Description=Set environment variables for systemd
Documentation=man:systemctl(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user set-environment \
    LANG=en_US.UTF-8 \
    LC_ALL="en_US.UTF-8"

[Install]
WantedBy=default.target
