[Unit]
Description=set wallpaper with feh

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-fill /usr/share/wallpaper/numix-aurora.png

[Install]
WantedBy=default.target
