[Unit]
Description=set wallpaper with feh
Documentation=man:feh(1)
After=env-xorg.service

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-fill /usr/share/wallpaper/numix-aurora.png

[Install]
WantedBy=default.target
