[Unit]
Description=disable beeping in X
Documentation=man:xset(1)
After=env-xorg.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xset -b

[Install]
WantedBy=default.target
