[Unit]
Description=read Xresources
Documentation=man:xrdb(1)
After=env-xorg.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb %h/.Xresources

[Install]
WantedBy=default.target
