[user]
	email = fkoehler1024@googlemail.com
	name = Fabian Köhler
	signingkey = 021D566724ADFE946D78BF109B2F3FD7F0C900C0

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
