[submodule "vim"]
	path = vim
	url = git@github.com:f-koehler/vcsh-vim.git
[submodule "xorg"]
	path = xorg
	url = git@github.com:f-koehler/vcsh-xorg.git
[submodule "vcsh-modulefiles"]
    path = modulefiles
    url = git@github.com:f-koehler/vcsh-vim.git
[submodule "i3"]
	path = i3
	url = git@github.com:f-koehler/vcsh-i3.git
