Backups/
Cache/
CachedData/
CachedExtensions
Code Cache/
Cookies
Cookies-journal
GPUCache/
Network Persistent State
User/globalStorage/
User/syncLocalSettings.json
User/workspaceStorage/
languagepacks.json
logs/
machineid
rapid_render.json
storage.json
