*

# bash
!.bashrc

# git
!.gitconfig

# gtk
!.config/gtk-3.0/settings.ini
!.gtkrc-2.0

# i3
!.i3
!.i3/config
!.i3blocks.conf

# vim
!.vim/*
!.vimrc
.vim/bundle/*

# xorg
!.Xresources
!.XCompose
!.xinitrc

# zsh
!.zshrc
!.local.zsh
