[user]
	email = fkoehler1024@googlemail.com
	name = Fabian Köhler
	signingkey = 2F74A857

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
