*

# bash
!.bashrc
!.bash_profile
!.local.sh
!.profile.sh

# beets
!.config
!.config/beets/
!.config/beets/config.yaml

# git
!.gitconfig

# gtk
!.config/gtk-3.0/settings.ini
!.gtkrc-2.0

# i3
!.i3
!.i3/config
!.i3blocks.conf

# local binaries
!.local
!.local/bin
!.local/bin/*

# neovim
!.config/nvim

# systemd user
!.config
!.config/systemd
!.config/systemd/user
!.config/systemd/user/*.service
!.config/systemd/user/*.target
!.config/systemd/user/*.timer

# vim
!.vim/
!.vim/autoload
!.vim/autoload/*.vim
!.vim/ftplugin
!.vim/ftplugin/*
!.vim/init.vim
!.vim/spell/
!.vim/spell/*.add
!.vimrc

# xorg
!.Xresources
!.XCompose
!.xinitrc

# zsh
!.zshrc
!.zprofile
!.local.zsh
