*.db
*.lz4
*.mozlz4
*.sqlite
*.sqlite-shm
*.sqlite-wal
.parentlock
AlternateServices.txt
ClientAuthRememberList.txt
SecurityPreloadState.txt
SiteSecurityServiceState.txt
Telemetry.ShutdownTime.txt
addons.json
bookmarkbackups
broadcast-listeners.json
compatibility.ini
crashes/
datareporting/
extensions.json
extensions/
gmp-gmpopenh264/
lock
logins-backup.json
logins.json
minidumps/
notificationstore.json
pkcs11.txt
prefs.js
saved-telemetry-pings/
security_state
serviceworker.txt
sessionCheckpoints.json
sessionstore-backups/
sessionstore.jsonlz4
shield-preference-experiments.json
signedInUser.json
storage/
times.json
weave/
xulstore.json
