.org.chromium.Chromium.*
Backups/
Cache/
CachedData/
CachedExtensionVSIXs/
CachedExtensions/
Code Cache/
Cookies
Cookies-journal
Crash Reports/
GPUCache/
Local Storage/
Network Persistent State
Session Storage/
TransportSecurity
User/globalStorage/
User/syncLocalSettings.json
User/workspaceStorage/
Workspaces/
exthost Crash Reports/
languagepacks.json
logs/
machineid
rapid_render.json
storage.json
