[user]
	signingkey = C5DC80511469AD81C84E3564D55A35AFB2900A11
	email = fabian.koehler@protonmail.ch
	name = Fabian Köhler
[pull]
	rebase = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[color]
	ui = auto
[safe]
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mlxtk
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mpskit/dependencies/CLI11
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mpskit/dependencies/fmt
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mpskit/dependencies/highfive
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mpskit/dependencies/json
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mpskit/dependencies/xsimd
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mpskit/dependencies/xtensor
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mpskit/dependencies/xtl
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mpskit/dependencies/itensor
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/mpskit
	directory = /afs/physnet.uni-hamburg.de/project/zoq_t/ml-mctdh-spin/dependencies/ml-x
